<section id="air-freepano">
	<div id="air-freepano-form">
		<a title="Close" class="airform-close" onclick="HideAirFreePanoForm();" href="javascript:void(0);"><i class="font-icon-remove"></i></a>
		<h3 style="width:100%;"><b>Заказ бесплатной панорамы</b></h3>
		<p class="input-row" style="width:100%; font-weight:300;">Отправьте заявку, и мы вам перезвоним.</p>
		<form id="contact-form2" class="contact-form" action="@root_path/app/submit-cold.php" >
			<p>
				<input id="contact_name2" type="text" placeholder="Представьтесь, пожалуйста" value="" name="name" style="width:100%;"/>
			</p>
			<p>
				<input id="contact_tel2" type="text" placeholder="Оставьте контактный номер" value="" name="telephone" style="width:100%;"/>
			</p>
			<p class="contact-submit submit" id="contact-submit2">
				Отправить
			</p>
			<div id="response2" class="response"></div>
		</form>
	</div>
</section>