<section id="air-calc">
	<div id="air-calc-form">
		<a title="Close" class="airform-close" onclick="HideAirCalcForm();" href="javascript:void(0);"><i class="font-icon-remove"></i></a>
		<h3><b>Примерный расчет стоимости тура</b></h3>
		<form id="calculator" onsubmit="return false;">
			<div class="row">
				<div class="span4">
					<p class="input-row"><b>Количество панорам:&#42;</b></p>
					<p class="input-row">Скидка 10% при заказе от 10 до 20 панорам</p>
					<p class="input-row">Скидка 20% при заказе от 20 панорам</p>
					<div style="font-size: small; margin-top: 20px">
						<sup>*</sup> Обычно равно количеству помещений, комнат или точек обзора в открытом пространстве.
					</div>
				</div>
				<div class="span2">
					<input id="tourcalc-pano-count" type="text" value="1" name="tourcalc-pano-count">
					<div id="tourcalc-pano-count-error" class="validation-error">Укажите количество</div>
				</div>
				
			</div>
			<div id="tourcalc-results" class="row" style="margin-top: 15px">
				<div class="span4 sum-line"><p><b>Сумма:</b></p></div>
				<div class="span2 sum-line"><b><span id="tourcalc-sum">&mdash;</span> р.</b></div>
			</div>
			<p id="contact-form" class="contact-submit" style="margin-top:35px;">
				<span id="submit-more" class="submit" onclick="ShowSubmitForm();">Заказать точный расчет</span>
				<span id="submit-freepano" class="submit" onclick="ShowAirFreePanoForm();" style="position:absolute; right:20px;">Заказать бесплатную панораму</span>
			</p>
		</form>
	</div>
</section>