<div id="content">
    <!-- Start Blog Page -->
    <section id="blog" class="container blog-post-full">
    	<div class="row">
        	<div class="span12">

foreach $children do
            
            	<article class="post">
	if @thumb do
                	<div class="post-thumb">
                    	<a href="@url" class="hover-post">
                    		<img src="@thumb" alt="@title" />
                            <div class="overlay"></div>
                            <i class="font-icon-link"></i>
                        </a>
                    </div>
	endif
                    
                    <div class="entry-type">
                    	<a href="@url"><i class="font-icon-align-center"></i></a>
                    </div>
                	
                	<div class="row">
                    	<div class="span6 offset3">
                        	<h2 class="entry-title">
                            	<a href="@url">@title</a>
                            </h2>
                            <div class="entry-meta">
                            	<span class="author">@author</span>
                    			<span class="divider">/</span>
                                <span class="published">@updated</span>
                     	</div>
                            <div class="entry-content">
                            	@short-content
                                <p>
                                	<a class="more-link" href="@url">Продолжить чтение...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="separator"></div>
                </article>

endforeach
                            
            </div>
		</div>
    </section>
    <!-- End Blog Page -->
</div>
