<!-- Start Credits -->
<section id="footer-credits">
	<div class="container">
    	<div class="row">
        	<div class="span4">
            </div>
			<div class="span4">
				<p class="credits"><br />+7 926 102-07-92<br /><a href="mailto:mail@smiletous.com">mail@smiletous.com</a></p>
			</div>
			<div class="span4" id="social-footer">               
				<nav id="social-footer">
					<ul>
						<li><a href="https://twitter.com/smiletous" title=""><i class="font-icon-social-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/smiletous" title=""><i class="font-icon-social-facebook"></i></a></li>
						<!--<li><a href="mailto:mail@smiletous.com" title=""><i class="font-icon-social-email"></i></a></li>-->
						<li><a title="Задать вопрос" onclick="jivo_api.open(); return false;"><i class="font-icon-comments"></i></a></li>
					</ul>
				</nav>
               
			</div>
        </div>
    </div>
</section>
<!-- End Credits -->