
<!-- Modernizr -->
<script src="@root_path/public/js/modernizr.js"></script>

<!-- Js -->
<script src="@root_path/public/js/jquery-1.9.1.min.js"></script> <!-- jQuery Core -->
<script src="@root_path/public/js/jquery.mousewheel-min.js"></script> <!-- Reel -->
<script src="@root_path/public/js/jquery.reel-min.js"></script> <!-- Reel -->
<script src="@root_path/public/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="@root_path/public/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> <!-- Revolution Slider -->
<script src="@root_path/public/rs-plugin/js/jquery.themepunch.plugins.min.js"></script> <!-- Revolution Slider -->
<script src="@root_path/public/js/jquery.superfish.min.js"></script> <!-- Superfish -->
<script src="@root_path/public/js/jquery.supersubs.min.js"></script> <!-- Supersubs -->
<script src="@root_path/public/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="@root_path/public/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="@root_path/public/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="@root_path/public/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="@root_path/public/js/jquery.flickr.min.js"></script> <!-- Flickr -->
<script src="@root_path/public/js/plugins.js"></script> <!-- Contains: jQuery Easing, jQuery ScrollTo -->
<script src="@root_path/public/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->
