<!-- Start Open Graph Tags -->
<meta property="og:title" content="@title">
<meta property="og:type" content="website">
<meta property="og:url" content="@og-url">
<meta property="og:image" content="@og-image">
<meta property="og:site_name" content="Фотография, виртуальные туры, 3D-фото.">
<meta property="fb:admins" content="smiletous">
<meta property="og:description" content="@seo-description">

<meta property="og:latitude" content="55.755713">
<meta property="og:longitude" content="37.617188">
<meta property="og:locality" content="Moscow">
<meta property="og:region" content="Moscow">
<meta property="og:country-name" content="Russian Federation">
<meta property="og:email" content="mail@smiletous.com">
<meta property="og:phone_number" content="+7-926-102-07-92">
<!-- End Open Graph Tags -->