<!-- Start Services Box -->
<section id="services-box" style="margin-top:20px">
	<div class="container">
    	<div class="row">
        	<div class="span4">
            	<a class="box" href="#">
                	<div class="icon">
                    	<i class="font-icon-adjust"></i>
                    </div>
                    <h4>@header1</h4>
                    <p>@column1</p>
                </a>
            </div>
            
            <div class="span4">            
            	<a class="box" href="#">
                	<div class="icon">
                    	<i class="font-icon-cog"></i>
                    </div>
                    <h4>@header2</h4>
                    <p>@column2</p>
                </a>
            </div>
            
            <div class="span4">
            	<a class="box" href="#">
                	<div class="icon">
                    	<i class="font-icon-resize-small"></i>
                    </div>
                    <h4>@header3</h4>
                    <p>@column3</p>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Services Box -->