<!-- Start Slider -->
<section id="slider">
	<div class="container">
		<div class="smallbanner-container">
			<div class="fullwidthbanner">
				<ul>
					</li>
					<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
						<img src="/img/slider-images/image-05.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
						
					   <div class="caption custom_text_link sfb"
							 data-x="center"
							 data-y="400"
							 data-speed="300"
							 data-start="500"
							 data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="../tours-gallery/mario/">Рестораны</a></div>
					</li> 
					<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
						<img src="/img/slider-images/image-06.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
						
					   <div class="caption custom_text_link sfb"
							 data-x="center"
							 data-y="400"
							 data-speed="300"
							 data-start="500"
							 data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="../tours-gallery/d5/">Недвижимость</a></div>
					</li> 
					<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
						<img src="/img/slider-images/image-07.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
						
					   <div class="caption custom_text_link sfb"
							 data-x="center"
							 data-y="400"
							 data-speed="300"
							 data-start="500"
							 data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="../tours-gallery/tours/yp/">Музеи</a></div>
					</li> 
					<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
						<img src="/img/slider-images/image-08.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
						
					   <div class="caption custom_text_link sfb"
							 data-x="center"
							 data-y="400"
							 data-speed="300"
							 data-start="500"
							 data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="../tours-gallery/Jeep/">Автомобили</a></div>
					</li>
					<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
						<img src="/img/slider-images/image-010.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
						
					   <div class="caption custom_text_link sfb"
							 data-x="center"
							 data-y="400"
							 data-speed="300"
							 data-start="500"
							 data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="../tours-gallery/elbor/">Выставки</a></div>
					</li>
					<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
						<img src="/img/slider-images/image-09.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
						
					   <div class="caption custom_text_link sfb"
							 data-x="center"
							 data-y="400"
							 data-speed="300"
							 data-start="500"
							 data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="../tours-gallery/worldgym4/">Фитнес-клубы</a></div>
					</li>
					<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
						<img src="/img/slider-images/image-03.jpg" alt="Image" data-fullwidthcentering="on">
						
						<div class="caption custom_text_with_margin sfb"
							 data-x="left"
							 data-y="175"
							 data-speed="300"
							 data-start="500"
							 data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Виртуальные туры</div>
							 
					   
						<div class="caption custom_text_small_with_margin sfb"
							 data-x="left"
							 data-y="237"
							 data-speed="300"
							 data-start="800"
							 data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Хорошая реклама для любого пространства</div>
							 
						<div class="caption custom_text_link_small sfb"
							 data-x="left"
							 data-y="285"
							 data-speed="300"
							 data-start="800"
							 data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="../tours-gallery">Заказать пробную съёмку</a></div>
						
					</li>
					 <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
						<img src="/img/slider-images/image-04.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
						
						<div class="caption custom_text_small_with_margin sfb"
							 data-x="left"
							 data-y="110"
							 data-speed="300"
							 data-start="500"
							 data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Кроссплатформенность</div>
							 
						 <div class="caption custom_text_small_with_margin sfb"
							 data-x="left"
							 data-y="171"
							 data-speed="300"
							 data-start="500"
							 data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Встраивание контента</div>
							 
						 <div class="caption custom_text_small_with_margin sfb"
							 data-x="left"
							 data-y="232"
							 data-speed="300"
							 data-start="500"
							 data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Звенящая резкость</div>
							 
						 <div class="caption custom_text_small_with_margin sfb"
							 data-x="left"
							 data-y="293"
							 data-speed="300"
							 data-start="500"
							 data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Внимание к деталям</div>
							 
						<div class="caption custom_text_link_small sfb"
							 data-x="left"
							 data-y="393"
							 data-speed="300"
							 data-start="500"
							 data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://smiletous.com/tours/calc">Рассчитать стоимость</a></div>
					</li> 
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- End Slider -->