<!-- Start Slider -->
<section id="slider">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
        	<ul>
                <!-- THE FIRST SLIDE -->
                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="/img/slider-images/image-03.jpg" alt="Image" data-fullwidthcentering="on">
                    
                    <div class="caption custom_text_with_margin sfb"
                         data-x="left"
                         data-y="196"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Виртуальные туры</div>
                         
                   
                    <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="267"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Хорошая реклама для любого пространства</div>
						 
					 <!--<div class="caption custom_text_link_small sfb"
                         data-x="left"
                         data-y="344"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://amp.photo/tours/">Галерея</a></div>-->
						 
					 <div class="caption custom_text_link_small sfb"
                         data-x="left"
                         data-y="405"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="#" onclick="ScrollToAnchor('#anchor_calc')">Сколько стоит?</a></div>
                </li>
                </li>
				<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="/img/slider-images/image-05.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
                    
                   <div class="caption custom_text_link sfb"
                         data-x="center"
                         data-y="550"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="/tours/mario" ">Рестораны</a></div>
                </li> 
				<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="/img/slider-images/image-06.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
                    
                   <div class="caption custom_text_link sfb"
                         data-x="center"
                         data-y="550"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="/tours/d5" ">Недвижимость</a></div>
                </li> 
				<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="/img/slider-images/image-07.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
                    
                   <div class="caption custom_text_link sfb"
                         data-x="center"
                         data-y="550"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="/tours/yp" ">Музеи</a></div>
                </li> 
				<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="/img/slider-images/image-08.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
                    
                   <div class="caption custom_text_link sfb"
                         data-x="center"
                         data-y="550"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="/tours/Jeep" ">Автомобили</a></div>
                </li>
				<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="/img/slider-images/image-010.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
                    
                   <div class="caption custom_text_link sfb"
                         data-x="center"
                         data-y="550"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="/tours/elbor" ">Выставки</a></div>
                </li>
				<li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="/img/slider-images/image-09.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
                    
                   <div class="caption custom_text_link sfb"
                         data-x="center"
                         data-y="550"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="/tours/worldgym4" ">Общественные пространства</a></div>
                </li>
				 <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="/img/slider-images/image-04.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
                    
                    <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="190"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Кроссплатформенность</div>
						 
					 <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="251"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Встраивание контента</div>
						 
					 <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="312"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Звенящая резкость</div>
						 
					 <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="373"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Внимание к деталям</div>
						 
					<div class="caption custom_text_link_small sfb"
                         data-x="left"
                         data-y="473"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="#" onclick="ScrollToAnchor('#anchor_examples')">Посмотреть</a></div>
                </li> 
            </ul>
            
        </div>
    </div>
</section>
<!-- End Slider -->