<!-- Start Slider -->
<section id="slider">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            
        	<ul>
            
            	<!-- THE FIRST SLIDE -->
                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="@root_path/public/img/slider-images/image-01.jpg" alt="Image" data-fullwidthcentering="on">
                    
            		<div class="caption custom_text_link sfb"
                         data-x="center"
                         data-y="255"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Smiletous</div>

                    <div class="caption custom_text_link sfb"
                         data-x="center"
                         data-y="324"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://smiletous.com/gallery/">Более пяти лет опыта</a></div>
                         
                     <div class="caption custom_text_link sfb"
                         data-x="center"
                         data-y="379"
                         data-speed="300"
                         data-start="1200"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><span class="color-text"></span><a href="http://smiletous.com/gallery/">рекламных фотосъемок</a></div>
                </li>
                
                <!-- THE SECOND SLIDE -->
                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="@root_path/public/img/slider-images/image-02.jpg" alt="Image" data-fullwidthcentering="on">
                    
                    <div class="caption custom_text_link sfb"
                         data-x="center"
                         data-y="290"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://smiletous.com/tours/">3D-фото</a></div>
                
                    <div class="caption custom_text_link sfb"
                         data-x="center"
                         data-y="360"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://smiletous.com/3d/" style="text-decoration:none">новый взгляд на предметную фотографию</a></div>
                </li>
                
                <!-- THE THIRD SLIDE -->
                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="@root_path/public/img/slider-images/image-03.jpg" alt="Image" data-fullwidthcentering="on">
                    
                    <div class="caption custom_text_link sfb"
                         data-x="left"
                         data-y="380"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://smiletous.com/tours/">Виртуальные туры —</a></div>
                         
                   
                    <div class="caption custom_text_link sfb"
                         data-x="left"
                         data-y="450"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://smiletous.com/tours/">Лучшая реклама для любого пространства</a></div>
                </li>
				
                  <!-- THE FOURTH SLIDE -->
                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="@root_path/public/img/slider-images/image-04.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
                    
                    <div class="caption custom_text_link sfb"
                         data-x="left"
                         data-y="290"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://smiletous.com/tours/">Поддержка мобильных устройств</a></div>
                </li>            
            </ul>
            
        </div>
    </div>
</section>
<!-- End Slider -->