<!-- Start Slider -->
<section id="slider">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            
        	<ul>
            
            	<!-- THE FIRST SLIDE -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                    <img src="./public/img/slider-images/image-01.jpg" alt="Image" data-fullwidthcentering="on">

                    <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="190"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Рекламная фотосъемка:</div>
						 
					 <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="251"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Более пяти лет опыта</div>
						 
					 <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="312"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Индивидуальный подход</div>
						 
					 <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="373"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Высокое качество</div>
						 
					<div class="caption custom_text_link_small sfb"
                         data-x="left"
                         data-y="473"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://smiletous.com/gallery">Галерея</a></div>
                </li>
                
                <!-- THE SECOND SLIDE -->
                 <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="http://www.smiletous.com/public/img/slider-images/image-02.jpg" alt="Image" data-fullwidthcentering="on">
                    
                    <div class="caption custom_text sfb"
                         data-x="center"
                         data-y="80"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >3D-фото</div>
                
                    <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="520"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Новый взгляд на предметную фотографию</div>
                         
                    <div class="caption custom_text_link_small sfb"
                         data-x="left"
                         data-y="581"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://smiletous.com/3d/calc">Сколько стоит?</a></div>     
                         
                </li>
                
                <!-- THE THIRD SLIDE -->
               <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="/img/slider-images/image-03.jpg" alt="Image" data-fullwidthcentering="on">
                    
                    <div class="caption custom_text_with_margin sfb"
                         data-x="left"
                         data-y="196"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Виртуальные туры</div>
                         
                   
                    <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="267"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Хорошая реклама для любого пространства</div>
						 
					 <div class="caption custom_text_link_small sfb"
                         data-x="left"
                         data-y="344"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://smiletous.com/tours/">Галерея</a></div>
						 
					 <div class="caption custom_text_link_small sfb"
                         data-x="left"
                         data-y="405"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://smiletous.com/tours/calc">Сколько стоит?</a></div>
                </li>
                </li>
				
                  <!-- THE FOURTH SLIDE -->
                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="/img/slider-images/image-04.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
                    
                    <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="190"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Кроссплатформенность</div>
						 
					 <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="251"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Встраивание контента</div>
						 
					 <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="312"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Звенящая резкость</div>
						 
					 <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="373"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Внимание к деталям</div>
						 
					<div class="caption custom_text_link_small sfb"
                         data-x="left"
                         data-y="473"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://smiletous.com/tours">Попробовать</a></div>
                </li>            
            </ul>
            
        </div>
    </div>
</section>
<!-- End Slider -->