<!-- Start Slider -->
<section id="slider">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            
        	<ul>
            
            	<!-- THE FIRST SLIDE -->
                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="@root_path/public/img/slider-images/image-01.jpg" alt="Image" data-fullwidthcentering="on">
                    
            		<div class="caption very_big_custom_text lfl stl"
                         data-x="center"
                         data-y="255"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Smiletous</div>

                    <div class="caption custom_text lfl stl"
                         data-x="center"
                         data-y="324"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Более пяти лет опыта</div>
                         
                     <div class="caption custom_text_link lfl stl"
                         data-x="center"
                         data-y="379"
                         data-speed="300"
                         data-start="1200"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><span class="color-text"></span>рекламных фотосъемок</div>
                </li>
                
                <!-- THE SECOND SLIDE -->
                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="@root_path/public/img/slider-images/image-02.jpg" alt="Image" data-fullwidthcentering="on">
                    
                    <div class="caption very_big_custom_text sfb"
                         data-x="center"
                         data-y="255"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >3D-фотография</div>
                
                    <div class="caption custom_text_link sfb"
                         data-x="center"
                         data-y="379"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://smiletous.com/tours/">новый, подробный взгляд на предметную фотографию</a></div>
                </li>
                
                <!-- THE THIRD SLIDE -->
                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                    <img src="@root_path/public/img/slider-images/image-03.jpg" alt="Image" data-fullwidthcentering="on">
                    
                    <div class="caption very_big_custom_text sft"
                         data-x="center"
                         data-y="290"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Виртуальные туры</div>
                         
                   
                    <div class="caption custom_text_link sfb"
                         data-x="center"
                         data-y="360"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >любых помещений, любой сложности</div>
                </li>
                            
            </ul>
            
        </div>
    </div>
</section>
<!-- End Slider -->