<!-- Start Slider -->
<section id="slider">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            
        	<ul>
                
                <!-- THE FIRST SLIDE -->
               <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                    <img src="/img/slider-images/image-020.jpg" alt="Image" data-fullwidthcentering="on" data-y="-100">
                    
                    <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="190"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Ювелирная фотография:</div>
						 
					 <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="251"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Высокое качество</div>
						 
					 <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="312"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Индивидуальный подход</div>
						 
					 <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="373"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Внимание к деталям</div>
						 
					<div class="caption custom_text_link_small sfb"
                         data-x="left"
                         data-y="473"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://smiletous.com/contacts/">Заказать съемку</a></div>
                </li> 
				
		
			</ul>
            
        </div>
    </div>
</section>
<!-- End Slider -->