<!-- Start Slider -->
<section id="slider">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">

        	<ul>

                <!-- THE FIRST SLIDE -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                    <img src="http://amp.photo/public/img/slider-images/image-02.jpg" alt="Image" data-fullwidthcentering="on">

                    <div class="caption custom_text sfb"
                         data-x="center"
                         data-y="80"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >3D-фото</div>

                    <div class="caption custom_text_small_with_margin sfb"
                         data-x="left"
                         data-y="520"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Новый взгляд на предметную фотографию</div>

                    <div class="caption custom_text_link_small sfb"
                         data-x="left"
                         data-y="581"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" ><a href="http://amp.photo/3d/calc">Сколько стоит?</a></div>

                </li>


			</ul>

        </div>
    </div>
</section>
<!-- End Slider -->
