<!-- Start Footer -->
<footer>
	<div class="container">
    	<div class="row">
        	<nav id="social-footer">
                <ul>
                    <li><a href="https://twitter.com/smiletous" title=""><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#" title=""><i class="font-icon-social-facebook"></i></a></li>
                    <!--
                    <li><a href="#" title=""><i class="font-icon-social-dribbble"></i></a></li>
                    <li><a href="#" title=""><i class="font-icon-social-behance"></i></a></li>
                    <li><a href="mailto:mail@smiletous.com" title=""><i class="font-icon-social-email"></i></a></li>
                    -->
                    <li><a title="Задать вопрос" onclick="jivo_api.open(); return false;"><i class="font-icon-comments"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<!-- End Footer -->