<section id="tours-calc-mini">
    <div class="container" style="margin-bottom: 40px;">
        <div class="row">
            <div class="span3"></div>
            <div class="span6">
                <h4>Рассчет стоимости виртуального тура:</h4>
            </div>
        </div>
        <div class="row">
            <form id="calculator" onsubmit="return false;">
                <div class="span3"></div>
                <div class="span3">
                    <input id="contact_tel" style="width: 100%; padding: 14px;"
                           type="text" placeholder="количество панорам" value="" name="telephone" />
                </div>
                <div class="span3">
                    <a id="contact-submit" style="text-align: center; width: 100%; padding: 14px 0;"
                       class="submit" href="#">Подробнее...</a>
                </div>
            </form>
        </div>
    </div>
</section>