<section id="tours-calc-mini">
    <div class="container" style="margin-bottom: 20px;">
        <div class="row">
            <form id="calculator" onsubmit="return false;">
                <div class="span6">
                    <p>Рассчитать стоимость:</p>
                </div>
                <div class="span3">
                    <input id="contact_tel" style="width: 100%; margin-bottom: 10px;"
                           type="text" placeholder="количество панорам" value="" name="telephone" />
                </div>
                <div class="span3">
                    <a id="contact-submit" style="text-align: center; width: 100%; padding: 14px 0;"
                       class="submit" href="#">От 10000 рублей...</a>
                </div>
            </form>
        </div>
    </div>
</section>