/*
Enter Here your Custom CSS Style!!
*/
#reelbuttondown{
	position: absolute;
	right: 32px;
	bottom: 0px;
	width: 32px !important;
	height: 32px !important;
	z-index: 10;
}

#reelbuttonup{
	position: absolute;
	right: 32px;
	bottom: 64px;
	width: 32px !important;
	height: 32px !important;
	z-index: 10;
}

#reelbuttonleft{
	position: absolute;
	right: 64px;
	bottom: 32px;
	width: 32px !important;
	height: 32px !important;
	z-index: 10;
}

#reelbuttonplay{
	position: absolute;
	right: 32px;
	bottom: 32px;
	width: 32px !important;
	height: 32px !important;
	z-index: 10;
}

#reelbuttonright{
	position: absolute;
	right: 0px;
	bottom: 32px;
	width: 32px !important;
	height: 32px !important;
	z-index: 10;
}