<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>@title</title>   

:meta

:open-graph

:css

:js-modernizr 

:icons

</head>
<body>

:navigation

:section-title

<div class="container">
<form id="calculator" onsubmit="return false;">
<div class="row margin-50" style="margin-top: 30px">
    <div class="span2"></div>
    <div class="span8">
        <h4>3D - объекты</h4>
        <div class="row">
            <div class="span5"><p class="input-row">Количество объектов:</p></div>
            <div class="span3"><input id="obj-pano-count" type="text" value="200" name="tour-pano-count"></div>
        </div>
        <div class="row">
            <div class="span5"><p class="input-row">Минимальное количество объектов в одной партии:</p></div>
            <div class="span3">
                <select>
                    <option value="2.0">от 1 до 3</option>
                    <option value="1.5">от 4 до 10</option>
                    <option value="1.25">от 10 до 20</option>
                    <option value="1">от 20 до 40</option>
                    <option value="0.9">свыше 40</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span5"><p class="input-row">Количество кадров на один объект<sup style="font-size: x-small"> ** </sup>:</p></div>
            <div class="span3">
                <select>
                    <option value="1.0">30 кадров</option>
                    <option value="1.125">45 кадров</option>
                    <option value="1.25">60 кадров</option>
                    <option value="1.5">90 кадров</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span5"><p class="input-row">Количество плоскостей вращения:</p></div>
            <div class="span3">
                <select>
                    <option value="1.0">1 плоскость</option>
                    <option value="1.75">2 плоскости</option>
                    <option value="2.5">3 плоскости</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span5"><p class="input-row">Максимальные габариты предмета:</p></div>
            <div class="span3">
                <select>
                    <option value="1.0">до 30см</option>
                    <option value="1.125">от 30см до 1м</option>
                    <option value="1.5">свыше 1м</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span5"><p class="input-row">Требуемый фон:</p></div>
            <div class="span3">
                <select style="font-size: small">
                    <option value="1.0">белый с эффектом "мокрого пола"</option>
                    <option value="1.125">белый безтеневой</option>
                    <option value="1.5">обтравка на любой фон ***</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span5"><p class="input-row">Где производится съёмка:</p></div>
            <div class="span3">
                <select style="font-size: small">
                    <option value="1.0">привоз предметов в нашу студию</option>
                    <option value="1.125">выезд в пределах МКАД</option>
                    <option value="1.25">выезд за пределы МКАД</option>
                </select>
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="span5 sum-line"><p><b>Сумма</b></p></div>
            <div class="span3 sum-line"><b>100000 р.</b>*</div>
        </div>

        <div style="font-size: small; margin-top: 20px">
            * При повторном обращении к нам, клиент получает дополнительную скидку 10%.<br/>
            ** Уточняйте возможность выполнения желаемого числа кадров для конкретных габаритов предмета.<br/>
            *** Услуга может не предоставляться для предметов, содержащих прозрачные либо зеркальные поверхности.
        </div>
    </div>
</div>
</form>
</div>

:twitter-feed

:credits

:back-to-top

:metrika

:analytics

:jivosite

:js

<script type="text/javascript">


    function recalculate() {

    }

    jQuery(document).ready(function() {
        jQuery('#tourcalc-pano-count').keyup(recalculate);
        jQuery('#tourcalc-photo-count').keyup(recalculate);
        jQuery('#tourcalc-is-car').change(recalculate);
        jQuery('#tourcalc-is-anaglyph').change(recalculate);
        recalculate();
    });
</script>

</body>
</html>