<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>

    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Контакты</title>

    <!-- BEGIN META -->
    <meta name="description" content="Рекламная, предметная, ювелирная фотография. Съемка 3D фото 360 градусов. Создание сферических панорам, виртуальных туров любой сложности." />

    <meta name="keywords" content="виртуальный тур, виртуальные туры, 3d панорама, создание и разработка виртуальных туров, создание 3d панорам, виртуальные сферические круговые панорамы, 3d туры, 3д панорама, виртуальный тур цена, виртуальный тур заказать" />
    <!-- END META -->

    <!-- Mobile Specifics -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="320"/>

    <!-- Mobile Internet Explorer ClearType Technology -->
    <!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

    <!-- Bootstrap -->
    <link href="http://smiletous.com/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Revolution Slider -->
    <link href="http://smiletous.com/public/rs-plugin/css/settings.css" rel="stylesheet">

    <!-- Main Style -->
    <link href="http://smiletous.com/public/css/main.css" rel="stylesheet">

    <!-- FancyBox -->
    <link href="http://smiletous.com/public/css/fancybox/jquery.fancybox.css" rel="stylesheet">

    <!-- Font Icons -->
    <link href="http://smiletous.com/public/css/fonts.css" rel="stylesheet">

    <!-- Shortcodes -->
    <link href="http://smiletous.com/public/css/shortcodes.css" rel="stylesheet">

    <!-- Responsive -->
    <link href="http://smiletous.com/public/css/responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="http://smiletous.com/public/css/custom.css" rel="stylesheet">

    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>


    <!-- Modernizr -->
    <script src="http://smiletous.com/public/js/modernizr.js"></script>

    <!-- Js -->
    <script src="http://smiletous.com/public/js/jquery-1.9.1.min.js"></script> <!-- jQuery Core -->
    <script src="http://smiletous.com/public/js/jquery.mousewheel-min.js"></script> <!-- Reel -->
    <script src="http://smiletous.com/public/js/jquery.reel-min.js"></script> <!-- Reel -->
    <script src="http://smiletous.com/public/js/bootstrap.min.js"></script> <!-- Bootstrap -->
    <script src="http://smiletous.com/public/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> <!-- Revolution Slider -->
    <script src="http://smiletous.com/public/rs-plugin/js/jquery.themepunch.plugins.min.js"></script> <!-- Revolution Slider -->
    <script src="http://smiletous.com/public/js/jquery.superfish.min.js"></script> <!-- Superfish -->
    <script src="http://smiletous.com/public/js/jquery.supersubs.min.js"></script> <!-- Supersubs -->
    <script src="http://smiletous.com/public/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
    <script src="http://smiletous.com/public/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
    <script src="http://smiletous.com/public/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
    <script src="http://smiletous.com/public/js/jquery.tweet.js"></script> <!-- Tweet -->
    <script src="http://smiletous.com/public/js/jquery.flickr.min.js"></script> <!-- Flickr -->
    <script src="http://smiletous.com/public/js/plugins.js"></script> <!-- Contains: jQuery Easing, jQuery ScrollTo -->
    <script src="http://smiletous.com/public/js/main.js"></script> <!-- Default JS -->
    <!-- End Js -->


    <!-- Fav Icon -->
    <link rel="shortcut icon" href="#">

    <link rel="apple-touch-icon" href="#">
    <link rel="apple-touch-icon" sizes="114x114" href="#">
    <link rel="apple-touch-icon" sizes="72x72" href="#">
    <link rel="apple-touch-icon" sizes="144x144" href="#">

</head>

<style type="text/css">
    #calculator input,
    #calculator textarea {
        border: 1px solid #E9F0F4;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        background: #FFFFFF;
        color: #000000;
        font-size: 16px;
        height: auto;
        padding: 5px;

        resize: none;
        width: 100%;

        -webkit-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
        -moz-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
        -o-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
        transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    }

    #calculator p {
        margin-bottom: 15px;
    }

    #calculator input[type="checkbox"] {
        -webkit-appearance: checkbox !important;
        width: auto;
        vertical-align: baseline;
    }

    #calculator label {
        font-weight: 300;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        line-height: 25px;
    }
</style>

<body>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="span2">
                <div id="logo">
                    <a href="http://smiletous.com" title="Smiletous">Smiletous</a>
                </div>
            </div>

            <div class="span10">
                <!-- Mobile Menu -->
                <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>

                <!-- Standard Menu -->
                <nav id="menu">
                    <ul id="menu-nav">
                        <li>
                            <a href="../gallery/">Галерея</a>
                        </li>
                        <li>
                            <a href="../3d/">3D-объекты</a>
                        </li>
                        <li>
                            <a href="../tours/">Виртуальные туры</a>
                        </li>
                        <li>
                            <a href="../blog/">Блог</a>
                        </li>
                        <li>
                            <a href="../contact/">Контакты</a>
                        </li>

                        <li>
                            <a onclick="jivo_api.open(); return false;">Задать вопрос</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->


<!-- Start Section Title -->
<section id="title-page">
    <h2>Калькулятор стоимости</h2>
    <span class="arrow"></span>
</section>
<!-- End Section Title -->

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <!-- Title Page -->
        <div class="row margin-20">
            <div class="span12">

<form id="calculator" onsubmit="return false;">
    <div class="row margin-50" style="margin-top: 30px">
        <div class="span6">
            <h4>Виртуальный тур</h4>
            <div class="row">
                <div class="span4"><p style="margin-bottom: 15px; margin-top: 5px">Количество панорам:</p></div>
                <div class="span1">
                    <input id="tour-pano-count" type="text" placeholder="10" value="" name="tour-pano-count">
                </div>
            </div>
            <div class="row">
                <div class="span4"><p style="margin-bottom: 15px; margin-top: 5px">Количество фотографий:</p></div>
                <div class="span1">
                    <input id="tour-photo-count" type="text" value="" placeholder="20" name="tour-photo-count"
                           style="width: 100%">
                </div>
            </div>
            <div class="row">
                <div class="span4"><p>Стоимость одной панорамы:</p></div>
                <div class="span1"><p>1000&nbsp;р.</p></div>
            </div>
            <div class="row">
                <div class="span4"><p>Включение одной фотографии:</p></div>
                <div class="span2"><p>500 р.</p></div>
            </div>
            <div class="row">
                <div class="span4"><p>Сборка виртуального тура:</p></div>
                <div class="span2"><p>1500&nbsp;р.</p></div>
            </div>
            <div class="row">
                <div class="span4"><p>Салон автомобиля:</p></div>
                <div class="span2">
                    <p><label><input type="checkbox"> 2x</label></p>
                </div>
            </div>
            <div class="row">
                <div class="span4"><p>Анаглиф:</p></div>
                <div class="span2">
                    <p><label><input type="checkbox"> 2x</label></p>
                </div>
            </div>
            <div class="row">
                <div class="span4"><p>Выезд:</p></div>
                <div class="span2"><p>бесплатно</p>
                </div>
            </div>
            <div class="row" style="margin-top: 15px">
                <div class="span4" style="border-top: 1px solid #E0E0E0; padding-top: 15px"><p><b>Сумма:</b></p></div>
                <div class="span2" style="border-top: 1px solid #E0E0E0; padding-top: 15px"><b>10 000 р.</b>*</div>
            </div>
            <div style="font-size: small; text-align: right">
                <br/>
                * Второй такой тур обойдется вам на 30% дешевле
            </div>
        </div>
        <div class="span6">
            <h4>3D-объекты</h4>
            <div class="row">
                <div class="span4"><p style="margin-bottom: 20px">Количество объектов:</p></div>
                <div class="span1">
                    <p><input id="obj-pano-count" type="text" placeholder="10" value="" name="tour-pano-count"></p>
                </div>
            </div>
            <div class="row">
                <div class="span4"><p>Стоимость одной панорамы:</p></div>
                <div class="span1"><p>1000&nbsp;р.</p></div>
            </div>
            <div class="row">
                <div class="span4"><p>Включение одной фотографии:</p></div>
                <div class="span2"><p>500 р.</p></div>
            </div>
            <div class="row">
                <div class="span4"><p>Что-то еще очень важное:</p></div>
                <div class="span2"><p>1500&nbsp;р.</p></div>
            </div>
            <div class="row" style="margin-top: 15px">
                <div class="span4" style="border-top: 1px solid #E0E0E0; padding-top: 15px"><p><b>Сумма</b></p></div>
                <div class="span2" style="border-top: 1px solid #E0E0E0; padding-top: 15px"><b>10 000 р.</b>*</div>
            </div>
            <div style="font-size: small; text-align: right">
                <br/>
                * Второй такой тур обойдется вам на 30% дешевле
            </div>
        </div>
    </div>
</form>

            </div>
        </div>
        <!-- End Title Page -->
        <div class="row margin-50">
            <div class="span9">
                <h4>Связаться с нами</h4>
                <form id="contact-form" class="contact-form" action="/app/feedback.php">
                    <p class="contact-name">
                        <input id="contact_name" type="text" placeholder="Имя" value="" name="name" />
                    </p>
                    <p class="contact-email">
                        <input id="contact_email" type="text" placeholder="E-mail" value="" name="email" />
                    </p>
                    <p class="contact-email">
                        <input id="contact_tel" type="text" placeholder="Контактный телефон" value="" name="telephone" />
                    </p>
                    <p class="contact-message">
                        <textarea id="contact_message" placeholder="Сообщение" name="message" rows="15" cols="30"></textarea>
                    </p>
                    <p class="contact-submit">
                        <a id="contact-submit" class="submit" href="#">Отправить</a>
                    </p>

                    <div id="response"></div>
                </form>
            </div>
            <!-- <div class="span1"></div> -->
            <!-- Contact Details -->
            <div class="span3">
                <div class="contact-details">

                    <h4>Адреса и телефоны</h4>
                    <ul>
                        <li><a href="mailto:mail@smiletous.com">mail@smiletous.com</a></li>
                        <li>+7(926)102-07-92</li>
                        <li>+7(926)184-92-64</li>
                        <li>skype: <a href="skype:smiletous.studio?call">smiletous.studio</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Contact Details -->
        </div>
        <!-- End Contact Form -->
    </div>
</section>
<!-- End Contact Section -->

</body>
</html>

<!-- Stacey(2.3.0-smiletous): 5ad105cab7badf263f0c45654fb78646 -->