<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>@title</title>

:meta

:open-graph

:css

:js-modernizr

:icons

<style>
  #jivo_chat_widget { display: none !important; }
</style>

</head>

<body>

:navigation

:section-title

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <!-- Title Page -->
        <div class="row margin-20">
            <div class="span12">
                @content
            </div>
        </div>
        <!-- End Title Page -->

        <div class="row margin-50">
			<!-- Contact Details -->
            <div class="span3">
                <div class="contact-details">

                    <h4>Адреса и телефоны</h4>
                    <ul>
                        <li><a href="mailto:@email">@email</a></li>
                        <li>@phone1</li>
                        <li>@phone2</li>
                        <div class="contact-details">
                          <li><h4>QR-код электронной визитки</h4></li>
                          <li><img src="http://www.amp.photo/public/img/QR-Code.png" alt="Vcard"></li>
                        </div>
                    </ul>
                </div>
            </div>
            <!-- End Contact Details -->
            <div class="span9">
              <div class="contact-details">
                <h4>Связаться с нами</h4>
                <form id="contact-form" class="contact-form" action="/app/feedback.php">
                    <p class="contact-name">
                        <input id="contact_name" type="text" placeholder="Представьтесь, пожалуйста" value="" name="name" />
                    </p>
                    <p class="contact-email">
                        <input id="contact_email" type="text" placeholder="Оставьте адрес почты" value="" name="email" />
                    </p>
                    <p class="contact-email">
                        <input id="contact_tel" type="text" placeholder="Или номер телефона" value="" name="telephone" />
                    </p>
                    <p class="contact-message">
                        <textarea id="contact_message" placeholder="Задайте свои вопросы" name="message" rows="15" cols="30"></textarea>
                    </p>
                    <p class="contact-submit">
                        <a id="contact-submit" class="submit" href="#">Отправить</a>
                    </p>

                    <div id="response"></div>
                </form>
              </div>
            </div>


        </div>
        <!-- End Contact Form -->
	</div>
</section>
<!-- End Contact Section -->


:twitter-feed

:credits

:back-to-top

:metrika

:analytics

:jivosite

:js

</body>
</html>
