<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>@title</title>   

<meta name="description" content="@seo-description" /> 

:css

:js

:icons

</head>


<body>

:navigation

:slider

<!-- Start Intro Box -->
<section id="intro-box" class="margin-80">
	<div class="container">
    	<div class="row">
        	<div class="span12">
            	<h3><blockquote>Нельзя изобразить мысль, но можно изображением ее вызвать.</blockquote></h3>
                <span class="arrow"></span>
            </div>
        </div>
    </div>
</section>
<!-- End Intro Box -->

:latest-works

:latest-blog

:twitter-feed

:credits

:back-to-top

:metrika

:analytics

</body>
</html>
