<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>@title</title>   

:meta

:open-graph

:css

:js-modernizr

:icons

</head>


<body>

:navigation

:section-title

<!-- Start Portfolio Content -->
<section id="portfolio-content" class="margin-80" style="margin-top:40px">
	<div class="container">
	
	foreach $images[:1] do
	<div class="row margin-40">
        <div class="span12">
            <center>
                <img src="@thumb" id="reelimage" data-fullwidthcentering="on" style="height: @heightpx; width: @widthpx;">
	endforeach
			</center>
        </div>
    </div>
    
  <div class="row margin-40">
		    <div class="span8" style="border-right: 1px solid #757e89; margin-right: -1px">
          @content
        </div>
		    <div class="span4">
          @client
        </div>
        

	<div class="span12">
	<div style="height: 30px"></div>
	:share-buttons
	    </div>


      </div>
   
	:prev-next-navigation
        
    </div>
</section>
<!-- End Portfolio Content -->

:twitter-feed

:credits

:back-to-top

:metrika

:analytics

:jivosite

:js

<script type="text/javascript">
	$(function(){ // when DOM ready
		jQuery('#reelimage').reel({
			cursor: "url(@root_path/public/img/3d-buttons/cur.png),default",
			if @frames do
				frames:@frames, 
			endif
			if @footage do
				footage:@footage,
			endif
			if @orbital do
				orbital:@orbital,
			endif
			if @rows do
				rows:@rows, 
			endif
			if @frame do
				frame:@frame, 
			endif
			if @row do
				row:@row, 
			endif
			path:'@images-path',
			images:'@images',
			if @cw do
				cw:@cw,
			endif
			if @inversed do
				inversed:@inversed,
			endif
			if @speed do
				speed:@speed,
			endif
			if @timeout do
				timeout:@timeout,
			endif
			if @brake do
				brake:@brake,
			endif
			steppable: false,
		}).bind('loaded', function(ev){
			m = jQuery('#reelimage').parent();
			// Now we fill it with buttons
			m.append('<img id="reelbuttondown" style="cursor:pointer" src="@root_path/public/img/3d-buttons/down.png" onclick=\'m=jQuery("#reelimage"); m.reel("pause");m.reel("row", m.reel("row")+1);return true;\'>');
			m.append('<img id="reelbuttonup" style="cursor:pointer" src="@root_path/public/img/3d-buttons/up.png" onclick=\'m=jQuery("#reelimage"); m.reel("pause");m.reel("row", m.reel("row")-1);return true;\'>');
			m.append('<img id="reelbuttonleft" style="cursor:pointer" src="@root_path/public/img/3d-buttons/left.png" onclick=\'m=jQuery("#reelimage"); m.reel("pause");m.reel("frame", m.reel("frame")+1);return true;\'>');
			m.append('<img id="reelbuttonright" style="cursor:pointer" src="@root_path/public/img/3d-buttons/right.png" onclick=\'m=jQuery("#reelimage"); m.reel("pause");m.reel("frame", m.reel("frame")-1);return true;\'>');
		});
	  });
</script>

</body>
</html>
