<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>@title</title>   

:meta

:open-graph

:css

:js-modernizr

:icons

</head>


<body>

:navigation

:section-title

<BR></BR>

<!-- Start Portfolio Content -->
<section id="portfolio-content" class="margin-80">
	<div class="container">
	
		<script>
			$(document).ready(
				function() {			 
					// Output to Canvas, taking into account devices such as iPhone 4 with Retina Display
					var hidefCanvas = $('#pano')[0];
					var hidefContext = hidefCanvas.getContext('2d');
					 
					if (window.devicePixelRatio) {
						var hidefCanvasWidth = $(hidefCanvas).attr('width');
						var hidefCanvasHeight = $(hidefCanvas).attr('height');
						var hidefCanvasCssWidth = hidefCanvasWidth;
						var hidefCanvasCssHeight = hidefCanvasHeight;
						$(hidefCanvas).attr('width', hidefCanvasWidth * window.devicePixelRatio);
						$(hidefCanvas).attr('height', hidefCanvasHeight * window.devicePixelRatio);
						$(hidefCanvas).css('width', hidefCanvasCssWidth);
						$(hidefCanvas).css('height', hidefCanvasCssHeight);
						hidefContext.scale(window.devicePixelRatio, window.devicePixelRatio);
					}			
				}
			);
		</script>

		foreach $js do
			<script type="text/javascript" src="@url"></script>
		endforeach
		foreach $swf do
			<div class="row margin-40">
				<div class="span12">
					<section id="pano" style="height: 600px; width: 100%">
						<script>
							embedpano({swf:"@url", xml:"@url.xml", target:"pano", html5:"auto", passQueryParameters:true, onready:krpanoReady});

							function krpanoReady(krpano)
							{
								// try to determine if running on a mobile device...
								if(krpano.get("device.mobile"))
								{
									krpano.set("fullscreen", true);
								}
							}
						</script>
					</section>
				</div>
			</div>
		endforeach

    	<div class="row margin-40">
		    <div class="span8" style="border-right: 1px solid #757e89; margin-right: -1px">
          @content
        </div>
		    <div class="span4">
          @client
        </div>
        

	<div class="span12">
	:share-buttons
    </div>


      </div>
      
:prev-next-navigation

    </div>
</section>
<!-- End Portfolio Content -->

:twitter-feed

:credits

:back-to-top

:metrika

:analytics

:jivosite

:js

</body>
</html>
