<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>@title</title>   

:meta

:open-graph

:css

:js-modernizr

:icons

</head>


<body>

:navigation

:slider-tours

:services-box

<div id="content">
    <!-- Start Section Portfolio Projects -->
    <section id="portfolio" class="container">
		 <div class="row">
			<div class="span12">
				<center><h2>Примеры наших работ</h2></center>
			</div>
		</div>
        <div class="row">
            <div id="portfolio-projects">
                <ul id="projects">

foreach $children[0:6] do                
                    <li class="item-project span4 design">
                        <h5>
                            <a href="@url" target="_blank">@title</a>
                            <span class="arrow-port"></span>
                        </h5>
                        
                        <a class="hover-wrap fancybox" href="@url" data-fancybox-group="gallery" title="@title" target="_blank">
                            <img src="@thumb" alt="@title" />
                            <div class="overlay"></div>
                            <i class="font-icon-plus"></i>
                        </a>
                    </li>          
endforeach
                </ul>
            </div>
        </div>
		
		<div class="span12">
				<center><h2><a href="/tours/gallery">Полная галерея</a></h2></center>
			</div>
		
		:tours-calc
		
		<div class="container">
			<div class="span10" style="background-color: #f7f8f9; padding:20px; margin-top:50px; margin-bottom:50px; width:auto;">
				<div class="span5" style="margin-right:20px;">
					<h2>@header4</h2>
					<h3>@row1</h3>
				</div>
				<div class="span4" style="width:340px; margin-right:20px;">
					<h3>Заказжите пробную панораму</h3>
					<form id="contact-form" class="contact-form" action="/app/feedback.php" >
						<p>
							<input id="contact_name" type="text" placeholder="Имя" value="" name="name" />
						</p>
						<p>
							<input id="contact_tel" type="text" placeholder="Контактный телефон" value="" name="telephone" />
						</p>
						<p class="contact-submit">
							<a id="contact-submit" class="submit" href="#">Отправить</a>
						</p>

						<div id="response"></div>
					</form>
				</div>
			</div>
		</div>
    </section>
    <!-- End Section Portfolio Projects -->
</div>

:twitter-feed

:credits

:back-to-top

:metrika

:analytics

:jivosite

:js

<script type="text/javascript">
    function panoPrice(count) {
        if (count <= 9)  return 2500;
        if (count <= 19) return 2000;
		if (count >= 20) return 1800;
        return 2000;
    }

    function tourPrice(count) {
        var price = 1500;
        if (count > 5) {
            var magic = ~~((count - 5) / 5) + 1;
            price += 1000 * magic;
        }

        return 0;
    }

    function recalculate() {
        var panoCount = parseInt(jQuery('#tourcalc-pano-count').val());
        var photoCountText = (jQuery('#tourcalc-photo-count').val() || '');
        var photoCount = parseInt(photoCountText);
        var isCarPano = (jQuery('#tourcalc-is-car').val() === 'true');

        var sumSpan = jQuery('#tourcalc-sum');
        sumSpan.text('\u2014');

        var panoCountError = jQuery('#tourcalc-pano-count-error');
        if (isNaN(panoCount) || panoCount <= 0) {
            panoCountError.show();
            return;
        } else {
            panoCountError.hide();
        }

        var photoCountError = jQuery('#tourcalc-photo-count-error');
        if (photoCountText.trim() === '') {
            photoCountError.hide();
            photoCount = 0;
        } else if (isNaN(photoCount) || photoCount < 0) {
            photoCountError.show();
            return;
        } else {
            photoCountError.hide();
        }

        var singlePanoPrice = panoPrice(panoCount);
        var tourWorkPrice = tourPrice(panoCount);
        var sum = (panoCount * singlePanoPrice) + (photoCount * 500) + tourWorkPrice;

        if (isCarPano) sum *= 2;

        sumSpan.text(sum);
        sumSpan.digits();
    }

    jQuery(document).ready(function() {
        var panoCount = jQuery('#tourcalc-pano-count');
        panoCount.keyup(recalculate);
        jQuery('#tourcalc-photo-count').keyup(recalculate);
        jQuery('#tourcalc-is-car').change(recalculate);
        jQuery('#tourcalc-is-anaglyph').change(recalculate);

        var params = getQueryParameters();
        if (typeof params.count !== 'undefined') {
            panoCount.val(params.count);
        }

        recalculate();
    });
</script>

</body>
</html>
