<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>@title</title>   

:meta

:open-graph

:css

:js-modernizr

:icons

</head>


<body>

:navigation

:slider-tours

:services-box

<div id="shadow"></div>
<div id="content">
    <!-- Start Section Portfolio Projects -->
    <section id="portfolio" class="container">
		 <div class="row">
			<div class="span12">
				<center><h2>Примеры наших работ</h2></center>
			</div>
		</div>
        <div class="row">
            <div id="portfolio-projects">
                <ul id="projects">

foreach $children[0:6] do                
                    <li class="item-project span4 design">
                        <h5>
                            <a href="@url" target="_blank">@title</a>
                            <span class="arrow-port"></span>
                        </h5>
                        
                        <a class="hover-wrap fancybox" href="@url" data-fancybox-group="gallery" title="@title" target="_blank">
                            <img src="@thumb" alt="@title" />
                            <div class="overlay"></div>
                            <i class="font-icon-plus"></i>
                        </a>
                    </li>          
endforeach
                </ul>
            </div>
        </div>
		
		<div class="span12">
				<center style="margin-left:-60px;"><h2><a href="/tours/gallery" target="_blank">Посмотреть всю галерею</a></h2></center>
		</div>
		
		:tours-calc
    </section>
    <!-- End Section Portfolio Projects -->
</div>

:air-submit-form
:air-freepano

<section id="clients" style="margin:20px 0 30px 0">
	<div class="container">
	<h4>Наши клиенты:</h4>
    	<div class="row">
        	<div class="span2"><img src="@logo1"/></div>
        	<div class="span2"><img src="@logo2"/></div>
        	<div class="span2"><img src="@logo3"/></div>
        	<div class="span2"><img src="@logo4"/></div>
        	<div class="span2"><img src="@logo5"/></div>
        	<div class="span2"><img src="@logo6"/></div>
       </div>
    </div>   
</section>

:twitter-feed

:credits

:back-to-top

:metrika

:analytics

:jivosite

:js

</body>
</html>
